<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.KaoshixxDao" >
  <resultMap id="BaseResultMap" type="com.entity.Kaoshixx" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="riqi" property="riqi" jdbcType="VARCHAR" />
    <result column="con" property="con" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="tearcher" property="tearcher" jdbcType="VARCHAR" />
    <result column="banji" property="banji" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, riqi, con, url, tearcher, banji
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from kaoshixx
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from kaoshixx
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Kaoshixx" >
    insert into kaoshixx (id, name, riqi, 
      con, url, tearcher, 
      banji)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{riqi,jdbcType=VARCHAR}, 
      #{con,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{tearcher,jdbcType=VARCHAR}, 
      #{banji,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Kaoshixx" >
    insert into kaoshixx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="riqi != null" >
        riqi,
      </if>
      <if test="con != null" >
        con,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="tearcher != null" >
        tearcher,
      </if>
      <if test="banji != null" >
        banji,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="riqi != null" >
        #{riqi,jdbcType=VARCHAR},
      </if>
      <if test="con != null" >
        #{con,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="tearcher != null" >
        #{tearcher,jdbcType=VARCHAR},
      </if>
      <if test="banji != null" >
        #{banji,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.entity.Kaoshixx" >
    update kaoshixx
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="riqi != null" >
        riqi = #{riqi,jdbcType=VARCHAR},
      </if>
      <if test="con != null" >
        con = #{con,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="tearcher != null" >
        tearcher = #{tearcher,jdbcType=VARCHAR},
      </if>
      <if test="banji != null" >
        banji = #{banji,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.entity.Kaoshixx" >
    update kaoshixx
    set name = #{name,jdbcType=VARCHAR},
      riqi = #{riqi,jdbcType=VARCHAR},
      con = #{con,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      tearcher = #{tearcher,jdbcType=VARCHAR},
      banji = #{banji,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>