<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.NewsDao" >
  <resultMap id="BaseResultMap" type="com.entity.News" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="riqi" property="riqi" jdbcType="VARCHAR" />
    <result column="con" property="con" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, riqi, con
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.News" >
    insert into news (id, name, riqi, 
      con)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{riqi,jdbcType=VARCHAR}, 
      #{con,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.News" >
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="riqi != null" >
        riqi,
      </if>
      <if test="con != null" >
        con,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="riqi != null" >
        #{riqi,jdbcType=VARCHAR},
      </if>
      <if test="con != null" >
        #{con,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.entity.News" >
    update news
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="riqi != null" >
        riqi = #{riqi,jdbcType=VARCHAR},
      </if>
      <if test="con != null" >
        con = #{con,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.entity.News" >
    update news
    set name = #{name,jdbcType=VARCHAR},
      riqi = #{riqi,jdbcType=VARCHAR},
      con = #{con,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>